<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAlSTORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAlSTORAGE" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.VScan"
        tools:targetApi="36">

        <activity android:name=".ui.mainactivity.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                </intent-filter>
            </activity>
        <activity android:name=".ui.actionselectionactivity.ActionSelectionActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name=".ui.configselectionactivity.ConfigSelectionActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name=".ui.modelselectionactivity.ModelSelectionActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name=".ui.providerpresetselectionactivity.ProviderPresetSelectionActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name=".ui.providerselectionactivity.ProviderSelectionActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name=".ui.settingsactivity.SettingsActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name=".ui.providersactivity.ProvidersActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name=".ui.provideractivity.ProviderActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name=".ui.modelidactivity.ModelIdActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name=".ui.modelprovidermappingactivity.ModelProviderMappingActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name=".ui.modelprovidermappingsactivity.ModelProviderMappingsActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name=".ui.confirmationactivity.ConfirmationActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name=".ui.textinputactivity.TextInputActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateVisible"
            />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.rastislavkish.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                />
            </provider>
        </application>
    </manifest>
